@import "tailwindcss";

@layer theme, base, components, mantine, utilities;

@layer mantine {
  @import "@mantine/core/styles.css";
  @import "@mantine/carousel/styles.css";
}

* {
  font-family: Outfit, sans-serif;
}

/* stylelint-disable-next-line scss/at-rule-no-unknown */
@theme {
  --animate-gradient-move: gradient-move 1s ease infinite alternate;

  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }

    100% {
      background-position: 100% 50%;
    }
  }

  --text-opacity-50: 0.5;
}

.hourglass-card {
  clip-path: path(
    "M0,0 Q0,50 10,60 Q0,70 0,120 L0,160 L160,160 L160,120 Q160,70 140,60 Q160,50 160,0 Z"
  );
}
